{% extends "base.html.twig" %}

{% block body %}

	<h1>Salut !</h1>

	<hr class="hr">

	<div class="card">
		<div class="homepage-body">
			<p class="card-text">
				Hello ! Bienvenue sur notre appli rien qu'à nous ! Étant donné le côté évolutif de la bête, la page d'accueil servira de tuto/FAQ/appelle ça comme tu veux !
			</p>

			<hr class="hr">

			<ol>
				<li>
					<h2>Inscription / Connexion</h2>
					<div class="button-group">
						<div class="black-navbar iconLogout">
							<a href="{{ path('app_login') }}">
								{{ source('logout.svg') }}
							</a>
						</div>
					</div>
					<br>
					<p>
						Étape indispensable pour créer, participer à des événements ou voir les commentaires rattachés. Toutefois tu pourras voir les événements sans être connecté.
					</p>
				</li>

				<br>

				<li>
					<h2>Événements</h2>
					<div class="button-group">
						<div class="black-navbar iconLogout">
							<a href="{{ path('event_list') }}">
								{{ source('lists.svg') }}
							</a>
						</div>
					</div>
					<br>
					<p>
						C'est ici que sont regroupés les événements. Il suffit de cliquer sur un événement pour le visualiser. Chaque événément possède un titre, un type, un lieu, une date et un descriptif.
					</p>
					<p>
						Une fois un événement sélectionné, un menu est mis à disposition en bas de l'écran pour naviguer, éditer uné événement, le commenter et lire les commentaires déjà présents, ainsi qu'un bouton d'action dépendant du type d'évenement te permettant soit de participer, soit de créer une requête.
					</p>
					<h3>Le menu</h3>
					<table class="table-homepage">
						<tbody>
							<tr>
								<td>
									<a href="#" class="button">
										<span class="backto"></span>
									</a>
								</td>
								<td>Permet de revenir à la page précédente</td>
							</tr>
							<tr>
								<td>
									<a href="#" class="button">
										<span class="update"></span>
									</a>
								</td>
								<td>Permet de mettre à jour un événement</td>
							</tr>
							<tr>
								<td>
									<button class="button">
										<span class="newcomment">
											<img src="{{ asset('assets/images/newcomment.png') }}" alt="update">
										</span>
									</button>
								</td>
								<td>Permet de lire les commentaires</td>
							</tr>
							<tr>
								<td>
									<a href="#" class="button">
										<span class="pencil"></span>
									</a>
								</td>
								<td>Permet d'écrire un commentaire</td>
							</tr>
							<tr>
								<td>
									<a href="#" class="button">
										<span class="go"></span>
									</a>
								</td>
								<td>Permet de participer à un événement</td>
							</tr>
							<tr>
								<td>
									<a href="#" class="button">
										<span class="add"></span>
									</a>
								</td>
								<td>Permet de créer une liste de courses</td>
							</tr>
							<tr>
								<td>
									<div class="card-invoice">
										<img src="{{ asset('uploads/images/ReceiptSwiss.jpg') }}" alt="invoice">
									</div>
								</td>
								<td>Permet de visualiser une facture</td>
							</tr>
						</tbody>
					</table>
				</li>

				<br>

				<li>
					<h2>Ajouter</h2>
					<div class="button-group">
						<div class="black-navbar inconAdd">
							<a href="{{ path('event_create') }}">
								{{ source('add.svg') }}
							</a>
						</div>
					</div>
					<br>
					<p>
						C'est ici que l'on crée un événement. Le bouton mène à un formulaire avec des champs à remplir. Une fois le formulaire validé, ton événement apparaîtra dans la liste principale et tous tes voisins seront informés !
					</p>
				</li>

				<br>

				<li>
					<h2>Profil</h2>
					<div class="button-group">
						<div class="black-navbar iconUser">
							<a href="{{ path('user_profile') }}">
								{{ source('user.svg') }}
							</a>
						</div>
					</div>
					<br>
					<p>
						Ceci est ton espace personnel. Il te permet de modifier tes informations et ajouter un avatar. Tu as aussi la possibilité de supprimer ton compte à tout moment, si tu en as marre du bonheur.
					</p>
				</li>

				<br>

				<li>
					<h2>Déconnexion</h2>
					<div class="button-group">
						<div class="navbar-black iconLogout">
							<a href="{{ path('app_logout') }}">
								{{ source('logout.svg') }}
							</a>
						</div>
					</div>
					<br>
					<p>
						Pour te déconnecter tout simplement.
					</p>
				</li>
			</ol>
		</div>
	</div>
	{{ source('svgfilters.svg') }}
{% endblock %}
