{% extends "base.html.twig" %}


{% block body %}
	<div class="card mb-3">

		<div class="card-body">

			{% if participate.event.brochureFilename %}
				<div class="avatar-mini">
					<span class="button-icon">
						<img src="{{ asset('uploads/images/' ~ participate.user.brochureFilename) }}" alt="avatar">
					</span>
				</div>

			{% else %}
			
				<div class="avatar-mini">
					<a href="{{ path("participate_view", {'id': participate.id}) }}" class="button-icon">
						{{ participate.user.username }}
					</a>
				</div>
			{% endif %}


			<p class="card-text">{{ participate.comment }}</p>
		</div>
		<hr
		class="hr">

		<!--CONTROL-->
		<div class="control">
			<a href="{{ path('event_view',{'id': participate.event.id}) }}">
				<img src="{{ asset('assets/images/back-to.png') }}" alt="back" class="button-icon">
				back
			</a>
			{% if is_granted('view', participate) %}
				<a href="{{ path('participate_update',{'id': participate.id}) }}">
					<img src="{{ asset('assets/images/update.png') }}" alt="update" class="button-icon">
					update
				</a>
				<a href="#">
					<img src="{{ asset('assets/images/delete.png') }}" alt="delete_icon" class="button-icon">
					delete
				</a>
			{% endif %}
		</div>
	</div>


{% endblock %}
