{% extends "base.html.twig" %}


{% block body %}
	<div class="card mb-3">

		<div class="card-body">

			{% if participate.event.brochureFilename %}
				<div class="avatar-mini">
					<span class="button-icon">
						<img src="{{ asset('uploads/images/' ~ participate.user.brochureFilename) }}" alt="avatar">
					</span>
				</div>
			{% else %}

				<div class="avatar-mini">
					<a href="{{ path("participate_view", {'id': participate.id}) }}" class="button-icon">
						{{ participate.user.username }}
					</a>
				</div>
			{% endif %}
		</div>
		<hr class="hr">
	</div>
	<!--CONTROL-->
	<div class="control">
		<a href="{{ path('event_view',{'id': participate.event.id}) }}">
			<img src="{{ asset('assets/images/back-to.png') }}" alt="back" class="button-icon">
		</a>
		{% if is_granted('view', participate) %}
			<a href="{{ path('participate_delete',{'id': participate.id}) }}">
				<img src="{{ asset('assets/images/delete.png') }}" alt="delete_icon" class="button-icon">
			</a>
		{% endif %}
	</div>
{% endblock %}
