{% extends 'base.html.twig' %}

{% block title %}Galeries index
{% endblock %}

{% block body %}
	<h1>Galeries index</h1>
	<div class="card">
		<div class="event-body">

			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Proprio</th>
						<th>Voir</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for gal in gallery %}
						{% set galleryTitle = gal.title|split('.') %}
						<tr>
							<td>{{ galleryTitle[0] }}</td>
							<td>{{ gal.user }}</td>
							<td>
								<a href="{{ path('gallery_show', {'id': gal.id}) }}" class="button">
									<span class="go"></span>
								</a>
							</td>
							<td>
								<form method="post" action="{{ path('gallery_delete', {'id': gal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gal.id) }}">
									<button class="button">
										<span class="deletebutton"></span>
									</button>
								</form>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">Aucune galerie pour le moment</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="control">
	{# 		<a href="{{ path('gallery_create') }}" class="button">
				<span>Créer</span>
			</a> #}
		</div>
	</div>
{% endblock %}
