{% extends 'base.html.twig' %}

{% block title %}Créer une galerie
{% endblock %}

{% block body %}
	<h1>Créer une galerie</h1>
	<hr class="hr">
	<div class="card">
		<div class="event-body">

			<div class="form-container">

				{{ form_start(form) }}

				<div class="errors">
					{{ form_errors(form) }}
				</div>

				<div class="row">
					<div class="col">
						{{ form_widget(form.title) }}
					</div>
				</div>

				<hr class="hr">

				<div class="row">
					<div class="col">
						{{ form_widget(form.photos) }}
					</div>
				</div>

				{% for photo in gallery.photos %}
					<div>
						<img src="{{ asset('uploads/images/'~ photo.title) }}" alt="" width="150">
						<a href="{{ path('delete_photo', {id: photo.id})}}" data-delete data-token="{{ csrf_token('delete' ~ photo.id )}}">Supprimer</a>
					</div>
				{% endfor %}

			</div>
		</div>
		<div class="control">
			<div class="col">
				<a href="{{ path('gallery_index') }}" class="button">
					<span class="backto"></span>
				</a>
			</div>
			<div class="col">
				<button class="button">{{ button_label|default('Save') }}</button>
				{{ form_end(form) }}
			</div>
		</div>

	</div>

{% endblock %}
