{% extends 'base.html.twig' %}

{% block title %}Créer une galerie
{% endblock %}

{% block body %}
	<h1>Créer une galerie</h1>

	{{ form_start(form) }}
	{{ form_widget(form, { 'attr': {'class': 'uploadForm'} }) }}

	<h2>Images</h2>
	{% for photo in gallery.photos %}
		<div>
			<img src="{{ asset('uploads/images/'~ photo.title) }}" alt="" width="150">
			<a href="{{ path('delete_photo', {id: photo.id})}}" data-delete data-token="{{ csrf_token('delete' ~ photo.id )}}">Supprimer</a>
		</div>
	{% endfor %}

	<button class="button">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}

	<a href="{{ path('gallery_index') }}">Retour à l'index</a>
{% endblock %}
