{% extends 'base.html.twig' %}

{% block title %}Galeries{% endblock %}

{% block body %}
    <h1>Galeries</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gallery.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ galleryUserTitle }}</td>
            </tr>
        </tbody>
    </table>

{% for photo in gallery.photos %}
    <img src="{{ asset('uploads/images/' ~ galleryTitle ~ '/' ~ photo.title) }}" alt="" width="150">
    {% endfor %}

    <a href="{{ path('gallery_index') }}">back to list</a>

    <a href="{{ path('gallery_update', {'id': gallery.id}) }}">edit</a>

{% endblock %}