{% extends "base.html.twig" %}

{% block body %}

	<div class="card-header">
		<h5 class="title-create-shopping-list">
			Créer une liste
		</h5>
	</div>
	{{ form_start(form) }}

	<hr class="hr">

    <h3>Produits souhaités</h3>
    <ul class="articles" data-prototype="{{ form_widget(form.articles.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for article in form.articles %}
            <li>{{ form_row(article.name) }}</li>
        {% endfor %}
    </ul>
	{{ form_row(form.description) }}
{{ form_end(form) }}
	
	
	{% endblock %}
