{% extends "base.html.twig" %}

{% block body %}

	<div class="card-header">
		<h5 class="title-create-shopping-list">
			Créer une liste
		</h5>
	</div>
	{{ form_start(form) }}

	<hr class="hr">

	<ul
		class="articles" data-prototype="{{ form_widget(form.articles.vars.prototype)|e('html_attr') }}">
		{# iterate over each existing tag and render its only field: name #}
		{% for article in form.articles %}
			<li>{{ form_row(article.name) }}</li>
		{% endfor %}
	</ul>
	{{ form_row(form.description) }}
	{{ form_end(form) }}
	<a href="{{ path('event_view',{'id': event.id}) }}">
		<img src="{{ asset('assets/images/back-to.png') }}" alt="back" class="button-icon">
	</a>

{% endblock %}
