{% extends "base.html.twig" %}


{% block body %}

	<!--SHOPPING LIST TITLE-->
	<div class="card">
		<img src="{{ asset('assets/images/shoplist.jpg') }}" alt="legumes" class="card-image-top">
		<div class="card-header">
			<h5>Ma liste</h5>
		</div>

		<div
			class="card-header-second">
			<!--AVATARS / SHOPPING LISTS-->
			<div class="list-container">
				<div class="avatar">
					<img src="{{ asset('uploads/images/' ~ shoppingList.user.brochureFilename) }}" alt="avatar">
				</div>
			</div>
		</div>

		<hr class="hr">

		<div class="event-body">
			<ul>
				{% for article in shoppingList.articles %}
					<li>
						{{ article.name }}
					</li>
				{% endfor %}
			</ul>

			<hr class="hr">

			<p class="shopping-list-description">
				{{ shoppingList.description }}
			</p>
		</div>

		<hr class="hr">
	</div>
	<!--CONTROL-->
	<div class="control">
		<a href="{{ path('event_view',{'id': shoppingList.event.id}) }}" class="button">
			<span class="backto"></span>
		</a>
		{% if is_granted('view', shoppingList) %}
			<a href="{{ path('shopping_list_update',{'id': shoppingList.id}) }}" class="button">
				<span class=""></span>update
			</a>
			<a href="{{ path('shopping_list_delete',{'id': shoppingList.id}) }}" class="button">
				<span class="deletebutton"></span>
			</a>
		{% endif %}
	</div>
{% endblock %}
