<!--***************************HEAD****************************-->

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{% block stylesheets %}

			<link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.png') }}">

			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

			<link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,600,900&display=swap" rel="stylesheet">

			<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

		{% endblock %}

		<title>
			{% block title %}
				Voisins
			{% endblock %}
		</title>
	</head>


	<!--***************************NAV****************************-->

	<body>
		<nav class="navbar navbar-expand-lg">
			<ul class="navbar-nav">
				<ul class="navbar-nav nav-registration">
					<li class="nav-item">
						<a class="navlink" href="{{ path('homepage') }}">
							<img src="{{ asset('assets/images/home.png') }}" alt="add" class="button-icon-header">
						</a>
					</li>
					<li class="nav-item">
						<a class="navlink" href="{{ path('event_list') }}">
							<img src="{{ asset('assets/images/list.png') }}" alt="list" class="button-icon-header">
						</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="navlink" href="{{ path('event_create') }}">
								<img src="{{ asset('assets/images/add.png') }}" alt="add" class="button-icon-header">
							</a>
						</li>
						<li class="nav-item">
							<a class="navlink" href="{{ path('user_profile') }}">
								<img src="{{ asset('assets/images/profil.png') }}" alt="profil" class="button-icon-header">
							</a>
						</li>
						<li class="nav-item">
							<a class="navlink" href="{{ path('app_logout') }}">
								<img src="{{ asset('assets/images/logout.png') }}" alt="logout" class="button-icon-header">
							</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="navlink" href="{{ path('new') }}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="navlink" href="{{ path('app_login') }}">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</ul>

		</nav>
		{% block body %}{% endblock %}

		<!--***************************FOOTER****************************-->

		{% block footer %}{% endblock %}

		<script src="{{ asset('assets/js/app.js') }}"></script>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
