{{ form_start(form) }}
{{ form_widget(form) }}

<div class="user-edit-form">

	<a href="{{ path('user_profile',{'id': app.user.id}) }}">
		<img src="{{ asset('assets/images/back-to.png') }}" alt="delete_icon" class="button-icon">
	</a>

	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
