{% extends 'base.html.twig' %}

{% block title %}Éditer l'événement
{% endblock %}

{% block body %}

	<div class="event-body-edit">

		<div class="left">
			<h2>Éditer</h2>
			{{ form_start(form) }}

			<div class="errors">
				{{ form_errors(form) }}
			</div>

			<div class="row">
				<div class="col">
					{{ form_row(form.title) }}
				</div>
				<div class="col">
					{{ form_row(form.lieu) }}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{{ form_row(form.date) }}
				</div>
				<div class="col">
					{{ form_row(form.type) }}
				</div>
			</div>
			{{ form_widget(form.text) }}
			{{ form_widget(form.brochure) }}

			<div class="control">
				<div class="col">
					<a href="{{ path('event_view',{'id': event.id}) }}">
						<img src="{{ asset('assets/images/back-to.png') }}" alt="back" class="button-icon">
					</a>
				</div>
				<div class="col">
					{{ form_widget(form.save) }}
				</div>
				<div class="col">
					<a href="{{ path('event_delete',{'id': event.id}) }}">
						<img src="{{ asset('assets/images/delete.png') }}" alt="delete_icon" class="button-icon">
					</a>
				</div>
			</div>
			{{ form_end(form) }}

		</div>
	</div>

{% endblock %}