{% extends 'base.html.twig' %}

{% block title %}Créer un événement
{% endblock %}

{% block body %}
	<h1>Créer un événement</h1>
	<hr class="hr">
	<div class="card">
		<div class="event-body">

			<div class="form-container">
			
				{{ form_start(form) }}

				<div class="errors">
					{{ form_errors(form) }}
				</div>

				<div class="row">
					<div class="col">
						{{ form_widget(form.title) }}
					</div>
					<div class="col">
						{{ form_widget(form.lieu) }}
					</div>
				</div>
				<div class="row row-datetime">

					{{ form_widget(form.date, {'html5':false } ) }}

				</div>
			</div>

			<div class="row">
				<div class="col">
					{{ form_widget(form.type) }}
				</div>
			</div>
			<div class="row">
				{{ form_widget(form.text) }}
			</div>
			<div class="row img-input">
				{{ form_widget(form.brochure) }}
			</div>


		</div>
		<div class="control">
			<div class="col">
				<a href="{{ path('event_list') }}" class="button">
					<span class="backto"></span>
				</a>
			</div>
			<div class="col">
				{{ form_widget(form.save) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script>
		$('#datetimepicker1').datepicker({format: 'dd.MM.yyyy'});
	</script>
{% endblock %}
