{% extends "base.html.twig" %}


{% block body %}

	<h1>Tous les événements</h1>

	<div class="archives">
		<a href="{{ path('archive_list') }}">
			Voir les archives
		</a>
	</div>

	<hr class="hr">

	<div class="flex-container">
		<div class="card-group">
			{% for event in events|sort((a, b)=> a.date <=> b.date) %}

				<div class="card" style="width: 18rem;">
					<div class="card-header">
						<span class="list-events">{{ event.type }}
						</span>
						<span>{{ event.user }}</span>
					</div>
					<div class="card-body">
						<h5 class="card-title">
							{{ event.title }}
						</h5>

					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<span class="list-events">
								Lieu :
								{{ event.lieu }}
							</span>
						</li>
						<div class="date-item">
							<li class="list-group-item">
								<span class="date-events">
									{{ event.date|date("d/m/y à H:i") }}
								</span>
							</li>
						</div>
					</ul>
					<div class="card-body view-item">
						<a href="{{ path('event_view',{'id': event.id}) }}" class="btn btn-primary">Voir</a>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}
