{% extends "base.html.twig" %}


{% block body %}

	<h1>Tous les événements</h1>

	<div class="flex-container">

		{% for event in events %}
			<div class="card text-center">
				<div class="card-header">
					{% if event.type %}
						<span class="list-events">{{ event.type }}
						</span>
					{% else %}
						<span class="list-events">
							non défini
						</span>
					{% endif %}
					{{ event.user }}
					<br>
				</div>
				<div class="card-body">
					<h5 class="card-title">
						{{ event.title }}
					</h5>

					Lieu :
					<span class="list-events">{{ event.lieu }}
					</span>
					<br>
					Le
					<span class="date-events">{{ event.date|date("d/m/Y à h:i") }}
					</span>
					<hr>
					<span class="user-events">
						
					</span>
					<div class="control">
						<a href="{{ path('event_view',{'id': event.id}) }}" class="btn btn-primary">Voir</a>
					</div>
				</div>

			</div>
		{% endfor %}
	</div>


{% endblock %}
