{% extends "base.html.twig" %}


{% block body %}

	<h1>Tous les événements</h1>

	<div class="flex-container">

		{% for event in events %}
			<div class="card text-center">
				<div class="card-header">
					<span class="list-events">{{ event.type }}
					</span>
					<span>{{ event.user }}</span>
				</div>
				<div class="card-body">
					<h5 class="card-title">
						{{ event.title }}
					</h5>
					<span class="list-events">
						Lieu :
						{{ event.lieu }}
					</span>
					<hr>
					<span class="date-events">
						{{ event.date|format_datetime('full', 'short', locale='fr') }}
					</span>
					<hr>
					<span class="user-events"></span>
					<div class="control">
						<a href="{{ path('event_view',{'id': event.id}) }}" class="btn btn-primary">Voir</a>
					</div>
				</div>

			</div>
		{% endfor %}
	</div>


{% endblock %}
