{% extends "base.html.twig" %}

{% block body %}
	<!--EVENT-->
	<div class="">
		<div class="card mb-3">
			<img src="{{ asset('assets/images/' ~ event.type ~ '.jpg') }}" alt="legumes" class="card-image-top">
			<div class="card-header">
				<h5 class="card-title">{{ event.title }}
				</h5>
				<div class="date">
					<span class="date-events">
						{{ event.date|format_datetime('full', 'short', locale='fr') }}
					</span>
				</div>
			</div>


			<div class="card-header-second">
				<div class="lieu">
					<span class="lieu-events">
						{{ event.lieu }}
					</span>
				</div>
				#{{ event.type }}


				{% if event.type == "courses" %}

					<!--AVATARS / EVENTS / SHOPPING LISTS-->
					<div class="shopping-list-container">
						{% for shoppingList in shoppingLists %}

							<div class="avatar-mini">
								<a href="{{ path('shopping_list', {'id': shoppingList.id}) }}" class="button-icon">
									<img src="{{ asset('uploads/images/' ~ shoppingList.user.brochureFilename) }}" alt="avatar">
								</a>
							</div>
						{% endfor %}
					</div>

				{% else %}

					<!--AVATARS / EVENTS / PARTICIPATES-->
					<div class="shopping-list-container">
						{% for participate in participates %}
							<div class="avatar-mini">
								<a href="{{ path("participate_view", {'id': participate.id}) }}" class="button-icon">
									<img src="{{ asset('uploads/images/' ~ participate.user.brochureFilename) }}" alt="avatar">
								</a>
							</div>

						{% endfor %}
					</div>

				{% endif %}

			</div>

			<hr
			class="hr">

			<!--AVATAR-->
			<div class="grocery-body">
				<div class="card-body">
					<div class="avatar-mini">
						<span class="button-icon">
							<img src="{{ asset('uploads/images/' ~ event.user.brochureFilename) }}" alt="avatar">
						</span>
					</div>
					<p class="card-text">{{ event.text }}</p>
				</div>

				<!--INVOICE-->
				{% if event.brochureFilename %}

					<div class="card-invoice">
						<input type="checkbox" id="zoomCheck">
						<label for="zoomCheck">
							<img src="{{ asset('uploads/images/' ~ event.brochureFilename) }}" alt="avatar">
						</label>
					</div>

				{% endif %}
			</div>

			<hr
			class="hr">

			<!--CONTROL-->
			<div class="control">
				<a href="{{ path('event_list',{'id': event.id}) }}">
					<img src="{{ asset('assets/images/back-to.png') }}" alt="back" class="button-icon">
					back
				</a>
				{% if is_granted('view', event) %}
					<a href="{{ path('event_update',{'id': event.id}) }}">
						<img src="{{ asset('assets/images/update.png') }}" alt="update" class="button-icon">
						update
					</a>
					<a href="{{ path('event_delete',{'id': event.id}) }}">
						<img src="{{ asset('assets/images/delete.png') }}" alt="delete_icon" class="button-icon">
						delete
					</a>
				{% endif %}

				{% if event.type == "courses" %}
					<label for="file-upload" class="custom-file-upload">
						<img src="{{ asset('assets/images/invoice.png') }}" alt="update" class="button-icon">
					</label>
					<input
					type="file" name="image" accept="image/*" capture="environment" id="file-upload">
					<!--<input type="file" accept="image/*" capture="camera"/>-->
					<a href="{{ path('groceries_request',{'id': event.id}) }}" class="btn btn-primary">Participer !</a>
				{% else %}
					<a href="{{ path('participate_request',{'id': event.id}) }}" class="btn btn-primary">Participer !</a>

				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
