{% extends "base.html.twig" %}

{% block body %}
	<!--EVENT-->
	<div class="card ">
		<img src="{{ asset('assets/images/' ~ event.type ~ '.jpg') }}" alt="evenement" class="card-image-top">
		<div class="card-header">
			<h5 class="card-title">{{ event.title }}
			</h5>
			<div class="date">
				<span class="date-events">
					{{ event.date|date("d/m/y à H:i") }}
				</span>
			</div>
		</div>

		<div class="card-header-second">
			<div class="lieu">
				<span class="lieu-events">
					{{ event.lieu }}
				</span>
			</div>

			{% if event.type == "courses" or event.type == "boulange" %}

				<!--AVATARS / SHOPPING LISTS-->
				<div class="list-container">
					{% for shoppingList in shoppingLists %}
						{% if shoppingList.user.brochureFilename %}

							<div class="avatar-mini">
								<a href="{{ path('shopping_list', {'id': shoppingList.id}) }}" class="button-icon">
									<img src="{{ asset('uploads/images/' ~ shoppingList.user.brochureFilename) }}" alt="avatar">
								</a>
							</div>

						{% else %}

							<div class="avatar-mini">
								<a href="{{ path("shopping_list", {'id': shoppingList.id}) }}" class="button-icon">
									{{ shoppingList.user.username }}
								</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>

			{% else %}

				<!--AVATARS / EVENTS-->
				<div class="list-container">
					{% for participate in participates %}
						{% if participate.user.brochureFilename %}
							<div class="avatar-mini">
								<a href="{{ path("participate_view", {'id': participate.id}) }}" class="button-icon">
									<img src="{{ asset('uploads/images/' ~ participate.user.brochureFilename) }}" alt="avatar">
								</a>
							</div>

						{% else %}

							<div class="avatar-mini">
								<a href="{{ path("participate_view", {'id': participate.id}) }}" class="button-icon">
									{{ participate.user.username }}
								</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>

			{% endif %}

		</div>

		<hr
		class="hr">

		<!--AVATAR PRESENTATION-->
		<div class="event-body">
			<div class="card-body">
				<p class="card-text">{{ event.text }}</p>
				<br>
				<span class="user">
					- <em>{{ event.user.username }}</em>
				</span>
			</div>
		</div>
	</div>


{% endblock %}
